
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f2f5;

  position: relative;
  overflow: hidden;
}

.logo{
  width: 50px;
  height: 50px;
}

.register-form{
  padding: 2rem;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 400px;
  height: 42rem;
  text-align: center;

  position: relative;
  z-index: 2;
}

.login-form h2 {
  margin-bottom: 1.5rem;
  margin-top: 0;
  color: #333;
}

.input-group {
  margin-bottom: 1rem;
  text-align: left;
}

.input-group label {
  display: block;
  margin-bottom: 0.5rem;
  color: #555;
  font-weight: 500;
  font-family: inter;

}

.input-group input {
  width: 100%;
  padding: 0.9rem;
  border: 1px solid #ccc;
  border-radius: 12px;
  box-sizing: border-box;
}

button {
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 1rem;
  border: none;
  border-radius: 12px;
  background-color: #2c2c2c;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: ease 0.3s;

  font-family: Poppins;
  font-weight: 600;
}

button:hover {
  transform: scale(1.02);
  background-color: #000000;
}

.error-message {
  color: #d93025;
  margin-bottom: 1rem;
}

.link-register {
  display: flex;
  gap: 0.3rem;
  
}

.link-register a{
  text-decoration: none;
  color: #810D0D;
  font-weight: 600;
}
